In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_excel("Lab 2 Data_9.23_Cuts.xlsx")

In [2]:
df.head()

,meter_stick,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,frame_no,time: milliseconds,time: seconds,size_px-hotpink,position_px_x-hotpink,position_px_y-hotpink,NaN,size_px-yellowneon,position_px_x-yellowneon,position_px_y-yellowneon,distance in pixels between stickers at each frame,NaN,NaN
1,0,128.6,0.1286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,128.6,0.1286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,236.1,0.2361,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3,260.1,0.2601,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN